.hy_footer_bs {
    background-color: #3c3d41;
    padding: 20px 0;
    color: #ffffff;
    color: rgba(255, 255, 255, 1);
    margin-top: 0;
}
.hy_footer_bs .hy_footer_brand,
.hy_footer_bs .hy_footer_nav,
.hy_footer_bs .hy_footer_social,
.hy_footer_bs .hy_footer_ns {
    padding: 10px 25px;
}
.hy_footer_bs .hy_footer_nav,
.hy_footer_bs .hy_footer_social,
.hy_footer_bs .hy_footer_ns {
    border-color: transparent;
}
.hy_footer_bs .hy_footer_brand h2 {
    margin: 0 0 10px;
}
.hy_footer_bs .hy_footer_brand p {
    font-size: 12px;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.7);
}
.hy_footer_bs .hy_footer_brand p a {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
}
.hy_footer_bs .hy_footer_brand p a:hover {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.hy_footer_bs .hy_footer_nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.hy_footer_bs .hy_footer_nav ul.list {
    list-style: none;
    padding: 0;
}
.hy_footer_bs .hy_footer_nav ul.list li {
    padding: 5px 0;
}
.hy_footer_bs .hy_footer_nav ul.list a {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
}
.hy_footer_bs .hy_footer_nav ul.list a:hover {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.hy_footer_bs .hy_footer_social ul {
    list-style: none;
    padding: 0;
}
.hy_footer_bs .hy_footer_social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.hy_footer_bs .hy_footer_social li {
    padding: 5px 4px;
}
.hy_footer_bs .hy_footer_social a {
    color: #ffffff;
    color: rgba(255, 255, 255, 1);
}
.hy_footer_bs .hy_footer_social a:hover {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.hy_footer_bs .hy_footer_ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.hy_footer_bs .hy_footer_ns p {
    font-size: 12px;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.7);
}
.hy_copyright {
    min-height: 40px;
    background-color: #000000;
}
.hy_copyright p {
    color: #fff;
    padding: 10px 0;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .hy_footer_bs .hy_footer_nav,
    .hy_footer_bs .hy_footer_social,
    .hy_footer_bs .hy_footer_ns {
        border-left: solid 1px #ffffff;
        border-left: solid 1px rgba(255, 255, 255, 0.1);
    }
}
